.NavClass > ul {
	background-color: pink;
	color: green;
	font-size: 20px;
	font-style: comic
}

.NavClass > ul > li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 25px;
	position: relative;
}

.NavClass > ul > li:hover {
	background-color: red;

}

ul.sub-menu {
	position: absolute;
	list-style-type: none;
	background-color: yellow;
	width: 169px;
	padding-left: 0px;
	margin-left: -25px;
	padding-top: 5px;
	opacity: 0;
}

ul.sub-menu li {
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.NavClass li:hover .sub-menu {
	opacity: 1;


}

ul.sub-menu li:hover{
	color: blue;
	background-color:red;
}

li {
	font-colo
}

p {	font-size: 200%;
	fontt
}